/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;

    background-color: #000000;

    font-family: 'monospace', sans-serif;

    position: relative;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

.navbar {
    display: flex;
    flex-direction: row;
    color: #000000;
    height: 4rem;
    width: 100%;
    padding: 1rem 1rem;
    position: fixed;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    height: 100vh;
    width: 100%;
}

.foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #09090B;
    color: #FFFFFFAA;
    height: 4rem;
    padding: 0 2rem;
    width: 100%;
}

.social {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.social > svg {
    margin-left: 0.5rem;
}

.search-show {
    display: flex;
    position: fixed;
    top: 3rem;
    left: 3rem;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    font-family: monospace;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #09090B;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.search-show > a {
    margin-bottom: 0.5rem;
}